background = #56737F
blanco = #fff
color = #606060
sections = #ABE5FF

/* FIN DE COLORES */

-moz-::selection
  background #E0E0E0
  color blanco

::selection
  background #E0E0E0
  color blanco




// TAGS HTML

figcaption
  text-align center

footer
  background background
  color blanco
  height 200px
  overflow hidden

form
  background #23637F
  color blanco
  margin 2rem auto
  max-width 600px
  padding 2rem

form::before
  content "Si lo prefieres, escríbeme un email:"

li
  list-style none

nav
  padding-top 0
  margin-top 0

ul
  padding 0


/* FIN DE TAGS HTML */

*{
  box-sizing: border-box}
body{color:#606060;
  font-family: 'Roboto',monospace;
  font-size:16px;margin:0;padding:0}
.anclaLacon{color: #fff;
  border-bottom: 1px dashed #fff;}
.avatar{
  border: 2px solid #fff;
  border-radius: 100%}
.avatar, .textos-header, .blog{
  display: inline-block;
  vertical-align: middle
}
.blog{color: #fff}
.blog:hover{color: #ffcb1f}
.header{background:#56737F; color: #fff; height: auto;text-align:center;padding-top:1rem; padding-bottom: 1rem; }
a {color: #000;
  text-decoration: none;}
a:hover{text-decoration: none;}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?3fhvt6');
  src:url('../fonts/icomoon.eot?#iefix3fhvt6') format('embedded-opentype'),
  url('../fonts/icomoon.woff?3fhvt6') format('woff'),
  url('../fonts/icomoon.ttf?3fhvt6') format('truetype'),
  url('../fonts/icomoon.svg?3fhvt6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f03a";
  color: #7DE85E;
  font-size: 1.15rem;
}
.icon-mark-github:before {
  content: "\f00a";
  font-size: 2rem;
}
.icon-quill:before {
  content: "\e907";
  font-size: 3rem;
}
.header-yo:before {
  content: "{ "; color: #ffcb1f; font-size 2.1rem
}
.header-yo:after {
  content: " }"; color: #ffcb1f; font-size: 2.1rem;
}
.header-Description {
  font-weight: 400; line-height: 1.3em;
}



.article-footer
  text-align center
  width 100%

.article-webs
  text-align center

.blanco
  color blanco

.blanco:hover
  oolor #ffcb1f

.contador
 color blanco

.conocimientos
  background-color blanco
  border-top 5px solid background
  margin  3rem 0
  padding 1rem
  width 23%

.cursos
  background sections
  display -webkit-flex
  display -ms-flex
  display flex
  -webkit-justify-content center
  -ms-justify-content center
  justify-content center


.email--header
  text-align center

.font-light
  font-weight 300

.figure-web
  margin 14px

.footer-subHeader
  color blanco
  display inline-block
  margin-bottom 3rem
  text-align center


.header-article-webs
  margin-top 2rem

.header-educacion
  text-align center
  padding-bottom 1.5rem

.header-footer
  padding-top 1.8rem
  text-align center

.header-footer:after
  content " -"

.header-footer:before
  content "- "

.header-habilidades
  border-bottom 1px solid darkgrey
  font-weight 400

.input
  border none
  border-radius 6px
  display inline-block
  height 50px
  font-family 'Roboto'
  font-size 1.2rem
  margin-top 1rem
  padding 0 0 0 .6em
  outline 0
  width 90%

.email
  display none

.figure-web
  display inline-block

.juegos
  background #ffcb1f
  border-bottom 3px solid darkslategrey
  border-radius 5px
  color #000000
  font-size 18px
  margin 1rem auto
  padding .5rem
  max-width 150px

.juegos:hover, .juegos:focus
  font-size 16px
  height -10%
  color #000

.juegos::active
  color  #000000

.lista
  cursor pointer
  display inline-block
  text-align center
  word-spacing 3rem
  margin-bottom 0
  margin-top 0
  padding-bottom 0
  padding-top 0
  width 100%
  display
.lista-itremUno
  padding-right 9rem

.lista-menu
  display inline-block
  height 40px
  padding-top .6rem
  width auto


.mensaje
  border none
  border-radius 6px
  font-family 'Roboto'
  font-size 1.2rem
  margin-top 1rem
  padding .6em 0 0 .6em
  outline 0
  width 90%

.menu-fijo
  background background
  color      #fff
  height     40px
  margin     0 auto
  padding    0
  position   fixed
  text-align center
  top        0
  width      100%
  z-index    9999

.menu-fijo > .lista-menu
  color blanco

.nav
  background blanco
  height auto
  margin 0
  padding 0
  width 100%

.parrafo-none
  display none

.parrafo--trabajo
  border-bottom 1px dotted #cccccc
  width 60%
  margin-bottom 0
  padding-bottom 0
  color #808080

.proyectos
  margin-bottom 3rem

.parrafo--trabajo__cursos
  margin-top 0

.header-plugin
  margin-top 2rem

.range
  width 75%

.redes
  text-align center

.submit
  border none
  border-radius 6px
  cursor pointer
  height 30px
  font-size 18px
  font-family 'Roboto'
  outline 0
  background blanco


.text-habilidades
  border-radius 4px
  box-shadow 2px 2px 2px #ddd
  background #ccc
  color blanco
  cursor pointer
  display inline-block
  margin .2rem 0
  padding .4rem

.textos-header
  width 50%
  text-align left
  margin-left 1cm


.trabajo
  background-color blanco
  border-top 5px solid background
  margin  3rem 3rem
  padding 1rem
  width 23%

.que-hice
  margin-top 2rem
  text-align center

.web
  border 2px dotted #a9a9a9
  height 250px
  width 400px

.web:hover
  box-shadow 0 0 1em grey

@media screen and (max-width: 1600px)
  .conocimientos, .trabajo
    width 32%

@media screen and (max-width: 1400px)
  .conocimientos, .trabajo
    width 38%

  .lista-itemUno
    padding-right 7rem

  .textos-header
    margin-left 2rem


@media screen and (max-width: 1164px)
  .avatar, .blog
    vertical-align middle

  .avatar, .textos-header
    vertical-align top

  .conocimientos, .trabajo
    width 43%

  .header-yo
    margin-top -.1rem

  .lista-itremUno
    padding-right 5rem


@media screen and (max-width: 1024px)
    .conocimientos, .trabajo
      width 48%
      margin 2rem .3rem

@media screen and (max-width: 985px)
  .habilidades
    -ms-flex-wrap wrap
    -webkit-flex-wrap wrap
    flex-wrap wrap

  .cursos
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap

  .conocimientos
    width 90%

  .trabajo
    width 90%
    margin 0 0 2rem 0

  .header
    height auto

  .lista
    word-spacing 2rem

  .lista-itremUno
    padding-right 0

@media screen and (max-width: 660px)
  .lista
    font-size .9rem
    word-spacing .4rem

  .textos-header
    display block
    width 90%
    margin 0 auto
    padding 0
    text-align center

@media screen and (max-width: 555px)
  .lista
    word-spacing .1rem

@media screen and (max-width: 490px)
  form
    margin-bottom 0

  .conocimientos
    width 95%

  .figure-web
    margin 1.8rem auto

  .image__contact
    margin 0 .8em

  .input
    width 86%

  .lista
    font-size .9rem
    margin 0
    padding .3rem 0

  .mensaje
    width 86%

  .nav
    height 30px

  .trabajo
    width 95%
    margin 0 0 2rem 0

  .textos-header
    padding-bottom .3rem

  .web
    width 93%
    height 180px

@media screen and (max-width: 355px)
  .icon-quill:before
    font-size 1.8rem

  .last-juegos
    display block
