@font-face {
  font-family: 'Grabular';
  src:url('fonts/graublausansdisplay-light-webfont.eot'),
  url('fonts/graublausansdisplay-light-webfont.ttf'),
  url('fonts/graublausansdisplay-light-webfont.woff')
}

@font-face{
  font-family 'Grabular-regular'
  src:url('fonts/graublauslab-regular-webfont.eot'),
  url('fonts/graublauslab-regular-webfont.ttf'),
  url('fonts/graublauslab-regular-webfont.woff')
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-w8elhw');
  src:url('fonts/icomoon.eot?#iefix-w8elhw') format('embedded-opentype'),
  url('fonts/icomoon.ttf?-w8elhw') format('truetype'),
  url('fonts/icomoon.woff?-w8elhw') format('woff'),
  url('fonts/icomoon.svg?-w8elhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-directions_walk:before {
  content: "\e601";
  font-size 2rem
  color #FFC93C
}
.icon-settings_power:before {
  content: "\e600";
  font-size 2rem
  color #FFC93C
}
.icon-cart:before {
  content: "\e93a";
  font-size 2rem
  color #FFC93C
}

@font-face {
  font-family: 'icomoon';
  src:url('flecha-ico/icomoon.eot?pkarnv');
  src:url('flecha-ico/icomoon.eot?#iefixpkarnv') format('embedded-opentype'),
  url('flecha-ico/icomoon.ttf?pkarnv') format('truetype'),
  url('flecha-ico/icomoon.woff?pkarnv') format('woff'),
  url('flecha-ico/icomoon.svg?pkarnv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tab:before {
  content: "\ea45";
  font-size 2rem
  text-align center
  margin 0 auto
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts-plus/icomoon.eot?5o84sk');
  src:url('fonts-plus/icomoon.eot?#iefix5o84sk') format('embedded-opentype'),
  url('fonts-plus/icomoon.ttf?5o84sk') format('truetype'),
  url('fonts-plus/icomoon.woff?5o84sk') format('woff'),
  url('fonts-plus/icomoon.svg?5o84sk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle:before {
  content: " \e910";
  font-size 24px
  color #34F589
}
.icon-plus-circle:before {
  content: " \e911";
  font-size 24px
  color indianred
}


.icon-minus-circle:hover
  cursor pointer

.icon-plus-circle:hover
  cursor pointer

a
  text-decoration none
  color inherit

body
  font-family: "Grabular", 'Roboto'
  font-size 16px
  margin 0
  padding 0

figure
  margin 0
  padding 0

html
  box-sizing border-box
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

*:after, *:before
  box-sizing inherit

p
  color #808080

ul, li
  list-style none
  text-align center
  display flex
  justify-content space-around
  padding 0
  margin 0
  width 100%


.ancla--header
  text-decoration underline

.article--productos
  border 2px dashed #808080
  display inline-block
  margin 2rem auto
  text-align  left
  padding 0 .5rem
  vertical-align top
  max-width 320px

.absolute--header
  color #ffffff
  text-shadow 2px 2px 2px #808080
  padding-right 1rem
  position absolute
  top 0
  right 0

.caja--mainUno
  background #3B6D7F

.caja--mainDos
  background #5FAFCC

.caja--mainTres
  background #62777F

.caja--mainUno, .caja--mainDos, .caja--mainTres
  display flex
  align-items center
  height 50vh
  text-align center
  width 33.333%
  transition all .3s linear

.caja--mainUno:hover, .caja--mainDos:hover, .caja--mainTres:hover
  transform rotateY(180deg)

.cajasImg
  cursor pointer

.cajasImg:hover > .none
  display block
  height 50vh
  width 100%

.cajasImg:hover > .parrafo--main
  display none

.dashed
  text-decoration underline

figcaption
  text-align center
  margin 0 auto

.figure
  display inline-block


.footer
  background #C3EFFF
  color #808080
  height 300px
  overflow hidden

.header--dos
  color #fff
  font-family Grabular-regular
  font-size 1.9rem
  font-weight 400
  text-shadow 2px 2px 2px #808080

.header--footer
  font-family 'Grabular-regular'
  text-align center
  padding-top 2rem

.header--footer2
  font-family 'Grabular-regular'
  text-align center
  padding-top 0

.header--header
  background #77DAFF
  background-image url("img/landing/back2.jpg")
  background-size cover
  height 360px
  font-weight 400
  padding-top 2rem
  width 100%

.header--main
  color #808080
  font-weight 400
  text-align center

.header--uno
  color #ffffff
  font-family "Grabular-regular"
  font-size 2.7rem
  font-weight 700
  font-style normal
  text-shadow 2px 2px 2px #808080

.inline
  display inline-block
  padding-left 5px

.list--item
  background #ffffff
  cursor pointer
  margin-right 0
  padding-bottom 1rem
  padding-top 1rem
  padding-right 0
  text-transform uppercase
  width 33.333%

.list--item:hover
  background #C3EFFF
  background-size cover
  color #62777F

.logo
  position absolute
  top 10px
  left 10px
  width 250px
  height 110px

.main
  display flex
  margin 0 auto
  max-width 100%
  text-align center

.main--empresa
  max-width 800px
  padding 1.2rem
  margin 0 auto
  text-align justify

.scroll {
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.scroll__wrap {
  white-space: nowrap;
}
.scroll__card {
  width: 380px;
  height 300px
  display: inline-block;
  white-space: normal;
}


.medium--item
  border-left  1px solid #000
  border-right  1px solid #000

.miniatura
  float right
  margin-left 10px

.navigation
  border-bottom 1px solid #000
  height auto
  width 100%

.none
  display none

.trabajos
  text-align center

.parrafo--empresa
  font-size 1.5rem

.parrafo--leftFooter
  display inline-block
  text-align left
  padding-top 5rem
  padding-left 2rem

.parrafo--rightFooter
  display inline-block
  padding-left 18rem

.parrafo--main
  color #ffffff
  text-align center
  margin 0 auto

.productos
  margin 0 auto
  padding 7px
  text-align center

.productos--none
  display none
  margin 0 auto
  max-width 400px
  text-align justify

.text--header
  text-align center

.textos--main
  max-width 400px
  text-align left

.underline
  text-decoration underline

@media screen and (max-width: 1000px)
  .main
    flex-wrap wrap

  .caja--mainUno, .caja--mainDos, .caja--mainTres
    width 100%

@media screen and (max-width: 790px)
  .parrafo--leftFooter
    padding-top .5rem

@media screen and (max-width: 480px)
  .figure
    width 75%

  .footer
    height auto

  .header--uno
    display none

  .header--dos
    padding-top 4rem

  .logo
    text-align center
    margin 0 auto

  .scroll__card {
    width: 100%;
    height 300px
    display: inline-block;
    white-space: normal;
    padding 0
    margin 0
  }

  .parrafo--rightFooter
    padding-left 1rem
