<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2BA8F7"/>
    <title>Noxinox -Aviso legal</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
    <header class="header--header">
        <a href="http://www.inox.juanbalbuena.info"><img src="../static/img/logo2.png" alt="Logo Noxinox" class="logo"/></a>
        <div class="absolute--header"><small>Talleres Noxinox S.L.U. | <a class="ancla--header" href="#">Aviso legal</a></small></div>
        <div class="text--header">
            <a href="http://inox.juanbalbuena.info"><h1 class="header--uno">Noxinox</h1></a>
            <h2 class="header--dos">Maquinaria e instalaciones para la industria alimentaria</h2>
        </div>
    </header>
    <nav class="navigation">
        <ul>
            <a class="list--item" href="Templates/empresa.html"><li>Empresa</li></a>
            <a class="list--item medium--item" href="Templates/productos.html"><li>Productos</li></a>
            <a class="list--item" href="Templates/instalaciones.html"><li >Instalaciones</li></a>
        </ul>
    </nav>
    <section class="main--empresa">
        <h2 class="header--footer">Aviso legal:</h2>
        <p class="parrafo--empresa">
            1.- TALLERES Noxinox S.L.U. quiere dar a conocer, mediante el presente texto, cuáles son los criterios y reglas que sigue respecto a la utilización de los datos personales que
            cualquier usuario, libre y voluntariamente, facilite a través de su pagina web corporativa, en http://www.Noxinox.com.
            También se pretende informar nuestro cumplimento de la Ley de la Propiedad Intelectual (LPI) así como de la LSSI (Ley de las Sociedades de la Información).
            <br/>
            2.- TALLERES Noxinox S.L.U. (en adelante Noxinox), ha adoptado las medidas y niveles de seguridad exigidas en la Ley Orgánica 15/1999, de 13 de diciembre, de Datos de Carácter
            Personal (LOPD) y su normativa de desarrollo. Los criterios y reglas, es decir, la Política de Protección de Datos adoptada por Noxinox, pueden variar con el tiempo, debido a posibles
            cambios legislativos o de los criterios seguidos por la Agencia de Protección de Datos. Cualquier cambio que pueda producirse al respecto, será comunicado a través de esta página.
            <br/>
            3.- Los datos obtenidos por Noxinox a través de los formularios existentes en su pagina web, http://www.Noxinox.com , serán incorporados a un fichero automatizado de datos y
            serán objeto de tratamiento. Este fichero automatizado de datos es propiedad de Noxinox, empresa del sector industrial cuyas actividades se centran en: FABRICACIÓN, VENTA Y
            MANTENIMIENTO DE MAQUINARIA PARA LA INDUSTRÍA ALIMENTARIA.
            <br/>
            4.- La finalidad de la recogida y tratamiento de los datos es la de realizar una correcta gestión y prestación de los servicios ofrecidos por Noxinox a sus clientes y proveedores.
            <br/>
            5.- La cumplimentación de formularios o envío de correos electrónicos u otras comunicaciones a http://www.Noxinox.com, implica el consentimiento expreso del usuario al tratamiento de
            sus datos de carácter personal por parte de Noxinox.
            <br/>
            6.- Los datos personales proporcionados a Noxinox a través de su página web,http://www.Noxinox.com,no serán cedidos a ninguna empresa, y sólo serán utilizados para dar cumplimiento a
            las obligaciones contractuales establecidas con sus clientes y proveedores.
            <br/>
            7.- Noxinox ha adoptado los niveles de seguridad adecuados a los datos que almacena y trata. Además, Noxinox ha instalado todos los medios y medidas técnicas a su alcance para
            garantizar la confidencialidad de los datos, evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los mismos.
            <br/>
            8.- Cualquier usuario que lo desee, puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición, con arreglo a lo previsto en la Ley Orgánica 15/1999, de 13 de
            diciembre, de Datos de Carácter Personal (LOPD) y demás normativa aplicable al efecto, mediante el envío de una solicitud escrita y firmada, incluyendo su nombre, apellidos y fotocopia del DNI u otro documento acreditativo válido, en la que se solicite el ejercicio de aquellos derechos que desee, a TALLERES Noxinox S.L.U., Responsable del Fichero, a la dirección:
            Cantabria, 1º Travesía, 11. 36205 Vigo - España
            Este servicio no tendrá coste alguno para el solicitante.
            <br/>
            9.- Toda la información y programas aquí recogidos van destinados al efectivo cumplimiento de los derechos recogidos en el artículo 31 RD/ 1/1996 por el que se aprueba el texto refundido
            de la Ley de la Propiedad Intelectual (LPI) en especial referencia al artículo 31.2 LPI, y en concordancia con lo expresado en el artículo 100.2 de esta misma ley.
            <br/>
            10.- Todas las imágenes, marcas, abreviaturas, etc. pertenecen a su respectivos dueños y nosotros solamente hacemos uso de ellas en calidad de cita y/o como expresión de la actualidad,
            tal y como autorizan los Art. 32 y 33 LPI.
            <br/>
            11. El portal de Noxinox, S.L. informa que el diseño, las fuentes y las ventanas expuestas en este sitio web quedan sometidos a los Derechos de autor y bajo Copyright, reservándose
            por tal virtud todos los derechos y prohibiéndose su reproducción total o parcial.
            <br/>
            12. La finalidad principal de la LSSI sugiere un fichero informatizado de tratamiento de datos personales a nivel de la Red en España, que la Ley orgánica de Protección de datos en el
            Titulo IV, capítulo I define como Ficheros de Titularidad pública, puesto que se trata de un fichero informatizado de datos personales a nivel de la red que asimismo debería estar
            controlado por la Agencia de protección de Datos de España, ente independiente de la Administración.
            <br/>
            13.- Expuestos los puntos y para cumplir con los requisitos de la LSSI y sin animo de entorpecer la aplicación de dicha ley, los webmasters de esta web enviarán la información de sus
            datos personales a toda persona o ente que tenga un interés directo y licito desarrollando el Art. 4.1 de la Ley de protección de datos. Los datos de carácter personal sólo se podrán
            recoger para su tratamiento, así como someterlos a dicho tratamiento, cuando sean adecuados, pertinentes y no excesivos en relación con el ámbito y las finalidades determinadas,
            explícitas y legítimas para las que se hayan obtenido. Para ello puede solicitarlo previa exposición de motivos a Noxinox@Noxinox.com.Los webmasters de esta web tratan así de evitar
            la utilización no autorizada de sus datos personales por terceras personas amparándose en la Ley de protección de datos, y desea cumplir con las obligaciones de la LSSI.
            <br/>
            14.- Cuando un usuario accede a la página web de Noxinox, el ordenador donde se encuentra alojada dicha página web reconoce automáticamente la dirección IP que tiene asignada el
            ordenador que realiza la conexión, el día y la hora a la que ha entrado, el día y la hora a la que ha abandonado la conexión, y por qué partes de la página web se ha movido.Es necesario
            que el ordenador donde se encuentra alojada página web de Noxinox conozca estos datos del ordenador del usuario por que tiene que poder comunicarse con él para enviarle datos
            solicitados por el usuario a través del navegador y que éste pueda verlos en su pantalla. No es posible que de esta forma Noxinox pueda conocer los datos personales del usuario como
            por ejemplo su nombre, dirección, teléfono, etc. si no has sido el propio usuario quien los ha proporcionado.
            <br/>
            15.- El ordenador donde se encuentra alojada página web de Noxinox utiliza cookies. Las cookies son pequeños archivos que el servidor web envía al ordenador del usuario, pero que no
            proporcionan información ni sobre su nombre, ni sobre cualquier otro dato de carácter personal del mismo. El usuario puede configurar su navegador para que le avise en su pantalla de
            que va a recibir una cookie. Si desea más información al respecto, deberá consultar el menú de ayuda de su navegador. Si decide que su ordenador no reciba las cookies que se le puedan
            enviar, esto no impedirá que pueda acceder a la información de la página web de Noxinox.
        </p>
    </section>
    <footer class="footer">
        <h3 class="header--footer">Si desea más información, no dude en ponerse contacto con nosotros.</h3>
        <p class="parrafo--leftFooter">
            Dónde localizarnos:
            <br/>
            Cantabria, 1º Travesía, 11
            <br/>
            36205 VIGO</p>
        <p class="parrafo--leftFooter">
            Teléfonos:	986 26 14 49 / 986 27 09 28
            <br/>
            Fax:	986 26 70 76
            <br/>
            e-mail: <a href="mailto:info@cameselle.com">info@cameselle.com</a>
        </p>
        <p class="parrafo--rightFooter">
            Desarrollado por Lacon Labs &copy; 2015
        </p>
    </footer>
</body>
</html>
