<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2BA8F7"/>
    <title>Empresa</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
    <header class="header--header">
        <a href="http://inox.juanbalbuena.info"><img src="../static/img/logo2.png" alt="Logo Noxinox" class="logo"/></a>
        <div class="text--header">
            <a href="http://www.inox.juanbalbuena.info"><h1 class="header--uno">Noxinox</h1></a>
            <h2 class="header--dos">Maquinaria e instalaciones para la industria alimentaria</h2>
        </div>
    </header>
    <nav class="navigation">
        <ul>
            <a class="list--item" href="http://inox.juanbalbuena.info/Templates/empresa.html"><li>Empresa</li></a>
            <a class="list--item medium--item" href="http://inox.juanbalbuena.info/Templates/productos.html"><li>Productos</li></a>
            <a class="list--item" href="http://inox.juanbalbuena.info/Templates/instalaciones.html"><li >Instalaciones</li></a>
        </ul>
    </nav>
    <section class="main--empresa">
        <h2 class="header--footer">Quienes Somos:</h2>
        <p class="parrafo--empresa">
        Talleres Noxinox, S.L. Unipersonal , es una empresa creada en 1997 como consecuencia de un cambio generacional en 3º grado de la empresa familiar
         dedicada a la construcción y reparación auxiliar del naval así como la fundición de metales.
        Posteriormente, ya en la 2ª generación, se abandona esta actividad y se orienta al, por entonces, incipiente sector lácteo-quesero,
        siendo pioneros en Vigo en la utilización de acero inoxidable, diseñando y fabricando bienes de equipo a medida de las necesidades del cliente .
        </p>
    </section>
    <footer class="footer">
        <h3 class="header--footer">Si desea más información, no dude en ponerse contacto con nosotros.</h3>
        <p class="parrafo--leftFooter">
            Dónde localizarnos:
            <br/>
            Cantabria, 1º Travesía, 11
            <br/>
            36205 VIGO</p>
        <p class="parrafo--leftFooter">
            Teléfonos:	986 26 14 49 / 986 27 09 28
            <br/>
            Fax:	986 26 70 76
            <br/>
            e-mail: <a href="mailto:info@cameselle.com">info@cameselle.com</a>
        </p>
        <p class="parrafo--rightFooter">
            Desarrollado por Lacon Labs &copy; 2015
        </p>
    </footer>
</body>
</html>