<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <title>Productos</title>
    <meta name="theme-color" content="#2BA8F7"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
<header class="header--header">
    <a href="http://www.inox.juanbalbuena.info"><img src="../static/img/logo2.png" alt="Logo Noxinox" class="logo"/></a>
    <div class="absolute--header"><small>Talleres Noxinox S.L.U. | <a class="ancla--header" href="#">Aviso legal</a></small></div>
    <div class="text--header">
        <a href="http://inox.juanbalbuena.info"><h1 class="header--uno">Noxinox</h1></a>
        <h2 class="header--dos">Maquinaria e instalaciones para la industria alimentaria</h2>
    </div>
</header>
<nav class="navigation">
    <ul>
        <a class="list--item" href="http://inox.juanbalbuena.info/Templates/empresa.html"><li>Empresa</li></a>
        <a class="list--item medium--item" href="http://inox.juanbalbuena.info/Templates/productos.html"><li>Productos</li></a>
        <a class="list--item" href="http://inox.juanbalbuena.info/Templates/instalaciones.html"><li >Instalaciones</li></a>
    </ul>
</nav>
<h3 class="header--footer">Fotos de instalaciones realizadas por Noxinox. Por favor haga scroll a la derecha</h3>
<div class="header--footer">
    <span class="icon-tab"> </span>
</div>
    <section class="scroll">
        <div class="scroll__wrap">
            <figure class="figure"><img src="../static/img/Productos/1.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/2.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/3.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/4.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/5.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/6.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/7.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
            <figure class="figure"><img src="../static/img/Productos/8.jpg" alt="instalaciones realizadas por Noxinox" class="img--productos scroll__card"/>
                <figcaption>Instalacion realizada por Noxinox</figcaption>
            </figure>
        </div>
    </section>
<h2 class="header--footer">Galería de Accesorios . Por favor haga scroll a la derecha </h2>
<div class="header--footer">
    <span class="icon-tab"> </span>
</div>
<section class="scroll">
    <div class="scroll__wrap">
        <figure class="figure"><img src="../static/img/Accesorios/1.jpg" alt="Accesorios de por Noxinox" class="img--productos scroll__card"/>
            <figcaption>Accesorios</figcaption>
        </figure>
        <figure class="figure"><img src="../static/img/Accesorios/2.jpg" alt="Accesorios de por Noxinox" class="img--productos scroll__card"/>
            <figcaption>Accesorios</figcaption>
        </figure>
        <figure class="figure"><img src="../static/img/Accesorios/3.jpg" alt="Accesorios de por Noxinox" class="img--productos scroll__card"/>
            <figcaption>Accesorios</figcaption>
        </figure>
        <figure class="figure"><img src="../static/img/Accesorios/4.jpg" alt="Accesorios de por Noxinox" class="img--productos scroll__card"/>
            <figcaption>Accesorios</figcaption>
        </figure>
        <figure class="figure"><img src="../static/img/Accesorios/5.jpg" alt="Accesorios de por Noxinox" class="img--productos scroll__card"/>
            <figcaption>Accesorios</figcaption>
        </figure>
    </div>
</section>
<section class="trabajos">
    <h2 class="header--footer">Trabajos realizados</h2>
    <article class="article--productos">
        <h4 class="header--footer2">SECTOR LÁCTEO-QUESERO</h4>
        <p>
            - Quesos S.A.T Flor Valsequillo, Valsequillo (Isla Gran Canaria)
            <br/>
            - ECAM 12
            <br/>
            - Queinaga, Curtis (La Coruña)
            <br/>
            - Lacteos Breton
            <br/>
            - Queizuar, Bama
            <br/>
            - Quesos Navalmoral, Toledo
            <br/>
            - Queserías Santa Bárbara, Alcañiz (Teruel)
        </p>
    </article>
    <article class="article--productos">
        <h4 class="header--footer2">SECTOR ALIMENTACION</h4>
        <p>
            <span class="underline">Harinas y Sémolas del Noroeste, S.A.:</span>
            <br/>
            - Instalación de planta de salsas.
        </p>
    </article>
    <article class="article--productos">
        <h4 class="header--footer2">SECTOR DEL AUTOMÓVIL</h4>
        <p>

            <span class="underline">Gefco España, S.A.:</span>
            <br/>
            - Mantenimiento
        </p>
    </article>
</section>

<footer class="footer">
    <h3 class="header--footer">Si desea más información, no dude en ponerse contacto con nosotros.</h3>
    <p class="parrafo--leftFooter">
        Dónde localizarnos:
        <br/>
        Cantabria, 1º Travesía, 11
        <br/>
        36205 VIGO</p>
    <p class="parrafo--leftFooter">
        Teléfonos:	986 26 14 49 / 986 27 09 28
        <br/>
        Fax:	986 26 70 76
        <br/>
        e-mail: <a href="mailto:info@cameselle.com">info@cameselle.com</a>
    </p>
    <p class="parrafo--rightFooter">
        Desarrollado por Lacon Labs &copy; 2015
    </p>
</footer>
</body>
</html>
