<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2BA8F7"/>
    <title>Noxinox - Productos</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="stylesheet" href="../static/iconate/dist/iconate.min.css"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
    <header class="header--header">
        <a href="http://inox.juanbalbuena.info"><img src="../static/img/logo2.png" alt="Logo Noxinox" class="logo"/></a>
        <div class="absolute--header"><small>Talleres Noxinox S.L.U. | <a class="ancla--header" href="#">Aviso legal</a></small></div>
        <div class="text--header">
            <a href="http://inox.juanbalbuena.info"><h1 class="header--uno">Noxinox</h1></a>
            <h2 class="header--dos">Maquinaria e instalaciones para la industria alimentaria</h2>
        </div>
    </header>
    <nav class="navigation">
        <ul>
            <a class="list--item" href="http://inox.juanbalbuena.info/Templates/empresa.html"><li>Empresa</li></a>
            <a class="list--item medium--item" href="http://inox.juanbalbuena.info/Templates/productos.html"><li>Productos</li></a>
            <a class="list--item" href="http://inox.juanbalbuena.info/Templates/instalaciones.html"><li >Instalaciones</li></a>
        </ul>
    </nav>
    <section class="productos">
        <h2 class="inline header--footer dashed">Bancada para cubas</h2><span><span id="mas1"  class="icon-plus-circle"></span></span>
        <p id="animacion1" class="productos--none"><img class="miniatura" src="miniaturas/BANCADA_PARA_CUBAS.jpg" alt="Bancada para cubas"/>Construida totalmente en acero inox. AISI 304, con escaleras de acceso,
        barandillas de protección y suelo antideslizante de acero inox. De construcción robusta y dimensiones adaptadas a las necesidades y espacio disponible. Con esta estructura se facilita el flujo de la cuajada y el acceso a las cubas, evitando la realización de obras de albañilería en caso de
        dar una nueva ubicación a la maquinaria.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Carro auxiliar de reja</h2><span><span id="mas2"  class="icon-plus-circle"></span></span>
        <p id="animacion2" class="productos--none"><img class="miniatura" src="miniaturas/CARRO_AUXILIAR_DE_REJA_2.jpg" alt="Bancada para cubas"/>Para salas de fabricación, y/o como contenedor de moldes. Construido totalmente en acero inox. AISI 304, con ruedas de acero inox.
        Dimensiones y capacidad según destino y necesidades</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Caudalímetro</h2><span><span id="mas3"  class="icon-plus-circle"></span></span>
        <p id="animacion3" style="margin-bottom: 100px;" class="productos--none separador"><img class="miniatura" src="miniaturas/CAUDALIMETRO.jpg" alt="Bancada para cubas"/>Caudalímetro “Endress+Hauser” con desgasificador</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Cintas transportadoras</h2><span><span id="mas4"  class="icon-plus-circle"></span></span>
        <p id="animacion4" class="productos--none"><img class="miniatura" src="miniaturas/CINTAS_TRANSPORTADORAS_1.jpg" alt="Bancada para cubas"/>Montadas sobre una bancada realizada íntegramente en acero inox. AISI 304, con perfil angular recubierto de una guía plástica especial, de polietileno 1000, sobre la que se desliza, encastrada, la banda transportadora.
        La banda se desplaza en estructura completamente abierta, lo que facilita el proceso de limpieza. La tracción de la banda se realiza por medio de moto-variador eléctrico para coordinar su velocidad de circulación con las necesidades de producción.
        Tamaño y modelo de la banda adaptable según necesidades y espacio disponible, incluyendo tramos de curva, pendientes, zonas de acumulación, etc.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">C.I.P. Modular para limpieza</h2><span><span id="mas5"  class="icon-plus-circle"></span></span>
        <p id="animacion5" class="productos--none"><img class="miniatura" src="miniaturas/CIP_MODULAR_PARA_LIMPIEZA_1.jpg" alt="Bancada para cubas"/>Sistema centralizado para facilitar los procesos de lavado y desinfección de las instalaciones construido íntegramente en acero inox. AISI 304 y AISI 316.
        Equipado con depósitos para contención de agua limpia, de agua recuperada del enjuague alcalino, de solución ácida y depósito de solución alcalina, bomba de impulsión y valvulería e interconexiones.
        Equipo opcional:
            <br/>
            - Control PLC programable por el usuario para distintas funciones de lavado.
            <br/>
            - Dosificación automática de productos de limpieza, con control de concentración.
            <br/>
            Dimensiones y capacidad de los depósitos según necesidades y espacio disponible</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Cuba de moldeo y desuerado</h2><span><span id="mas6"  class="icon-plus-circle"></span></span>
        <p id="animacion6" class="productos--none"><img class="miniatura" src="miniaturas/CUBA_DE_MOLDEO_Y_DESUERADO_2.jpg" alt="Bancada para cubas"/>La utilización de estas cubas agiliza en gran medida el proceso de fabricación de cualquier tipo de queso, facilita el acceso a la cuajada para realizar el llenado de los moldes.
            Construida totalmente en acero inox. AISI 304.
            Opcionalmente se puede dotar con sobrefondo perforado para facilitar el desuerado, y/o reja de bloqueo desplazable, planchas y clilindros neumáticos para realizar pre-prensado.
            Dimensiones y capacidad según necesidades de fabricación.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Cuba quesera cerrada doble O</h2><span><span id="mas7"  class="icon-plus-circle"></span></span>
        <p id="animacion7" class="productos--none"><img class="miniatura" src="miniaturas/BANCADA_PARA_CUBAS.jpg" alt="Bancada para cubas"/>Características principales:
            <br/>
            - Fondo plano con inclinación para descarga por pistón neumático
            <br/>
            - Acabado interior pulido brillante
            <br/>
            - Acabado exterior satinado
            - Válvulas neumáticas para desuerado en alturas fijas
            <br/>
        - 2 Liras de corte y agitación
            <br/>
        - Luz interior
            <br/>
        - 4 Esferas de limpieza
            <br/>
        - Patas y pernos de nivel con balancín para inclinación en descarga
            <br/>
        - Camisa con serpentín para calentamiento con vapor o agua recirculada
            <br/>
        - Revestimiento de acero inox del cuerpo de aislamiento en fondo y laterales
            <br/>
        - Moto-reductor con variación electrónica de velocidad y transmisión elástica.
            <br/>
        - Válvula de decarga
            <br/>
        - Entrada de leche antiespumaCuadro eléctrico de control y funcionamiento (con control de temperatura e indicador de nivel).</p>
    </section><section class="productos">
        <h2 class="inline header--footer dashed">Cuba quesera manual para cuajar o pasteurizar</h2><span><span id="mas8"  class="icon-plus-circle"></span></span>
        <p id="animacion8" class="productos--none"><img class="miniatura" src="miniaturas/CUBA_QUESERA_MANUAL_PARA_CUAJAR_2.jpg" alt="Bancada para cubas"/>Construida totalmente en acero inox. AISI 304.
        Apta para calentar leche hasta 60-80ºC y enfriarla, mediante circulación de agua en la camisa, aislamiento térmico con forro de acero inox. Adaptable para calentamiento directo de la cámara de agua, con butano o leña.
        Equipada con válvula para desuerado, planchas de pre-prensado, lira vertical y otra horizontal. Dimensiones y capacidad según necesidades.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Cuba quesera modelo holandés</h2><span><span id="mas9"  class="icon-plus-circle"></span></span>
        <p id="animacion9" class="productos--none"><img class="miniatura" src="miniaturas/BANCADA_PARA_CUBAS.jpg" alt="Bancada para cubas"/>
            Cuba quesera manual para cuajar o pasteurizar
            <br/>
            Equipada con:
            <br/>
            - camisa de calentamiento por circulación de agua o vapor (opcional), con aislamiento térmico,
            <br/>
            - cortadora mecánica accionada por moto-variador electrónico o mecánico,
            <br/>
            - apoyos de nivelación, o basculante por acción de pistón neumático, para efectuar la descarga a desuerador.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Depósito isotérmico para almacenamiento de leche</h2><span><span id="mas10"  class="icon-plus-circle"></span></span>
        <p id="animacion10" class="productos--none"><img class="miniatura" src="miniaturas/BANCADA_PARA_CUBAS.jpg" alt="Bancada para cubas"/>
            Cilíndrico, vertical. Construido en acero inox. AISI 304, con aislamiento de 80 mm. de poliuretano expandido (densidad 35 a 40 Kg m3) y forro de acero inox., patas de forma troncocónicas con pernos de nivelación o brida de anclaje al suelo.
            <br/>
            Equipado con los siguientes accesorios:
            <br/>
            - Boca de hombre
            <br/>
            - Entrada de leche antiespuma
            <br/>
            - Descarga con racor NW DIN
            <br/>
            - Agitador con motoreductor (superior o lateral)
            <br/>
            - Mirilla o nivel exterior
            <br/>
            - Dispositivo de limpieza.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Depósito pasteurizador de agua</h2><span><span id="mas11"  class="icon-plus-circle"></span></span>
        <p id="animacion11" class="productos--none"><img class="miniatura" src="miniaturas/DEPOSITO_PASTEURIZADOR_DE_AGUA.jpg" alt="Bancada para cubas"/>Cilíndrico, vertical. Construido en acero inox., con aislamiento de poliuretano expandido (densidad 35 a 40 Kg m3) y forro de acero inox., patas de forma troncocónicas con pernos de nivelación o brida de anclaje al suelo.
            <br/>
            Equipado con los siguientes accesorios:
            <br/>
            Serpentín interior para calentamiento del agua
            <br/>
            Mirilla o nivel exterior
            <br/>
            Termómetro para control de temperatura interior.
        </p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Desmoldeadora automática</h2><span><span id="mas12"  class="icon-plus-circle"></span></span>
        <p id="animacion12" class="productos--none"><img class="miniatura" src="miniaturas/DESMOLDEADORA_AUTOMATICA_2.jpg" alt="Bancada para cubas"/>Adaptable a todo tipo de moldes del tipo microperforado, solamente cambiando placas de extracción y campanas. Con una cadencia de trabajo comprendida entre 500 y 750 moldes por hora (en máquinas de 2 campanas).

        Construido totalmente en acero inox. AISI 304, con medidas generales exteriores de 1.700 x 1.185 x 2.200 mm (largo x ancho x alto).
        El proceso de extracción se realiza en dos fases o zonas diferenciadas:
        <br/>
        - Zona de extracción de tapas: La tapa se extrae mediante un proceso de desplazamiento entre dos placas, por el que cae a la cinta que la traslada hasta la lavadora.
        <br/>
        - Zona de liberación del queso: mediante una campana que baja y descarga aire con una presión de 5/6 bares, lo que produce el desprendimiento del queso hacia la cinta que lo transporta al siguiente proceso de producción y prelimpieza del molde por efecto del soplado. El molde vacío se traslada por cinta transportadora a la máquina lavadora.
        </p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Desmoldeadora semiautomática</h2><span><span id="mas13"  class="icon-plus-circle"></span></span>
        <p id="animacion13" class="productos--none"><img class="miniatura" src="miniaturas/DESMOLDEADORA_SEMIAUTOMATICA.jpg" alt="Bancada para cubas"/>Adaptable a todo tipo de moldes del tipo microperforado, solamente cambiando placas de extracción y campanas.

            Construido totalmente en acero inox. AISI 304, con medidas generales exteriores de 1.000 x 600 x 2.000 mm (largo x ancho x alto).

            El proceso de extracción se realiza en dos fases o zonas diferenciadas:
            <br/>
            - Zona de extracción de tapas: La tapa se extrae mediante un proceso de desplazamiento entre dos placas.
            <br/>
            - Zona de liberación del queso: mediante una campana que baja y descarga aire con una presión de 5/6 bares, lo que produce el desprendimiento del queso.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Estantería para cámaras y almacenes</h2><span><span id="mas14"  class="icon-plus-circle"></span></span>
        <p id="animacion14" class="productos--none"><img class="miniatura" src="miniaturas/ESTANTERIA_PARA_CAMARAS_Y_ALMACENES.jpg" alt="Bancada para cubas"/>Construídas totalmente en acero inox. AISI 304, con estantes de chapa perforada que mejoran la ventilación en cámaras.

            De construcción robusta y posibilidad de incorporar ruedas de nylon para facilitar el desplazamiento o utilización como carro.

            Las bandejas son extraíbles para facilitar su limpieza en túnel de lavado o manualmente.

            Adaptable en largo y altura a cualquier espacio disponible.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Lactofermentador</h2><span><span id="mas15"  class="icon-plus-circle"></span></span>
        <p id="animacion15" class="productos--none"><img class="miniatura" src="miniaturas/LACTOFERMENTADOR_1.jpg" alt="Bancada para cubas"/>Construido totalmente en acero inox., con circuito interior para circulación de vapor o agua, cámara aislante interior, tapa abisagrada de apertura total que soporta el motor y termómetro. Fondo inclinado para facilitar la descarga y escurrido.


            Posibilidad de incorporar resistencias eléctricas para calentamiento, así como un segundo agitador para fabricación de yogurt batido.

            Dimensiones y capacidad según destino y necesidades.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Mesa para sala de fabricación</h2><span><span id="mas16"  class="icon-plus-circle"></span></span>
        <p id="animacion16" class="productos--none"><img class="miniatura" src="miniaturas/MESA_PARA_SALA_DE_FABRICACION_1.jpg" alt="Bancada para cubas"/>Totalmente construida en acero inox. AISI 304, con resalte lateral para proteger de la humedad a las personas que manipulan.

            Dotada con un estante-escurridor intermedio de varillas.

            Tamaño según necesidades. Con patas fijas o ruedas giratorias de acero inox.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Máquina pintadora</h2><span><span id="mas17"  class="icon-plus-circle"></span></span>
        <p id="animacion17" class="productos--none"><img class="miniatura" src="miniaturas/MAQUINA_PINTADORA-PLASTIFICADORA.jpg" alt="Bancada para cubas"/>Para realizar automáticamente la aplicación de antimohos a los quesos.

            Realizada íntegramente en acero inox. AISSI 304. Dotada de sistema de autolavado.


            Estructuralmente está formada por dos partes:
            <br/>
            - Túnel: en la parte superior, dotado de cinta transportadora de acero inox. y sistema de ventilación forzada para escurrido de la pintura sobrante (aplicada por semiinmersión y ducha simultáneas).
            <br/>
            - Parte inferior: compartimento donde se alojan los depósitos de pintura y agua, las bombas de impulsión y el ventilador de escurrido.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Máquina retractiladora</h2><span><span id="mas18"  class="icon-plus-circle"></span></span>
        <p id="animacion18" class="productos--none"><img class="miniatura" src="miniaturas/MAQUINA_RETRACTILADORA.jpg" alt="Bancada para cubas"/>Para producir automáticamente la contracción de las bolsas al vacío por ducha de agua caliente.

            Construida totalmente en acero inox. AISI 304, con total accesibilidad a todos sus componentes y accionada por motovariador que regula la velocidad de paso.

            Equipada con:
            <br/>
            - Cinta transportadora construida totalmente con piezas de acero inox que se deslizan por una guía de polietileno.
            <br/>
            - Control de temperatura (calentamiento por vapor o resistencia eléctrica)
            <br/>
            - Entrada automática del agua.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Pasteurizador a placas</h2><span><span id="mas19"  class="icon-plus-circle"></span></span>
        <p id="animacion19" class="productos--none"><img class="miniatura" src="miniaturas/PASTEURIZADOR_A_PLACAS_1.jpg" alt="Bancada para cubas"/>Para fabricación de queso, con control automático que garantiza, y registra, la perfecta pasteurización de la leche.


            Ciclo de trabajo:



            Entrada de leche: 4/25º C
            Pasteurización a 75º C
            Salida de leche para fabricación de queso a 32º C

            Panel de control equipado con:
            <br/>
            - Registrador gráfico de temperatura.
            <br/>
            - Regulador electroneumático para control de válvula termoreguladora.
            <br/>
            - Válvula de desvío de leche no pasteurizada al nivel constante de funcionamiento a automático y comandada desde el panel.
            <br/>
            - Con caudal y dimensiones adaptadas a las necesidades de producción del usuario.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Plastificadora manual</h2><span><span id="mas20"  class="icon-plus-circle"></span></span>
        <p id="animacion20" class="productos--none"><img class="miniatura" src="miniaturas/MAQUINA_PINTADORA-PLASTIFICADORA.jpg" alt="Bancada para cubas"/>Para realizar la aplicación de antimohos a los quesos.

            Realizada íntegramente en acero inox. AISSI 304.


            Dotada de sistema de escurrido en la parte interior de la tapa que permite la retorno al tanque del producto antimoho sobrante, y de ruedas inox para facilitar su desplazamiento por la sala de fabricación.
        </p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Prensa horizontal neumática de barras</h2><span><span id="mas21"  class="icon-plus-circle"></span></span>
        <p id="animacion21" class="productos--none"><img width="200" height="120" class="miniatura" src="imagenes/PRENSA_HORIZONTAL_NEUMATICA_BARRAS.jpg" alt="Bancada para cubas"/>Construida totalmente en acero inoxidable.

            Las barras que soportan los moldes son cuadradas, para obtener una mayor resistencia al peso y una mayor superficie de contacto con los planos de los moldes. Son ajustables para adaptar su separación a cualquier tipo y tamaño de molde.

            Los cilindros neumáticos están fabricados íntegramente en acero inox., para evitar su deterioro por corrosión. Con un consumo mínimo de aire a presión, sólo en el momento de activar los émbolos. La presión se mantiene controlada por un grupo de filtro-regulador-lubricador. Opcionalmente se le puede acoplar un control automático de prensado.

            Tamaños y modelos según necesidades y espacio disponible.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Prensa horizontal neumática de canaletas</h2><span><span id="mas22"  class="icon-plus-circle"></span></span>
        <p id="animacion22" class="productos--none"><img width="200" height="120" class="miniatura" src="imagenes/PRENSA_HORIZONTAL_NEUMATICA_CANAL.jpg" alt="Bancada para cubas"/>Construida totalmente en acero inoxidable.

            Las canaletas que soportan los moldes tienen una mayor resistencia al peso y una mayor superficie de contacto con los planos de los moldes. Permiten asentar en ellas cualquier tipo y tamaño de molde.


            Los cilindros neumáticos están fabricados íntegramente en acero inox., para evitar su deterioro por corrosión. Con un consumo mínimo de aire a presión, sólo en el momento de activar los émbolos. La presión se mantiene controlada por un grupo de filtro-regulador-lubricador. Opcionalmente se le puede acoplar un control automático de prensado.
            Tamaños y modelos según necesidades y espacio disponible</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Prensa vertical neumática</h2><span><span id="mas23"  class="icon-plus-circle"></span></span>
        <p id="animacion23" class="productos--none"><img width="200" height="120" class="miniatura" src="imagenes/PRENSA_VERTICAL_NEUMATICA.jpg" alt="Bancada para cubas"/>Construida totalmente en acero inoxidable.

            Ajustable para adaptar su separación a cualquier tipo y tamaño de molde.


            Los cilindros neumáticos están fabricados íntegramente en acero inox., para evitar su deterioro por corrosión. Con un consumo mínimo de aire a presión, sólo en el momento de activar los émbolos. La presión se mantiene controlada por un grupo de filtro-regulador-lubricador. Opcionalmente, se le puede acoplar control automático de prensado.
            Tamaños y modelos según necesidades y espacio disponible.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Salmuera semiautomática</h2><span><span id="mas24"  class="icon-plus-circle"></span></span>
        <p id="animacion24" class="productos--none"><img width="200" height="120" class="miniatura" src="imagenes/SALMUERA_SEMIAUTOMATICA.jpg" alt="Bancada para cubas"/>Para realizar el salado de los quesos por inmersión en la solución salina, con el consiguiente ahorro de agua, sal y espacio en fábrica.


            Construida totalmente en acero inox. AISI 316, con cestones de inmersión.

            De dimensiones adaptadas a las necesidades y espacio disponible.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Tanque de recepción</h2><span><span id="mas25"  class="icon-plus-circle"></span></span>
        <p id="animacion25" class="productos--none"><img width="200" height="120" class="miniatura" src="imagenes/TANQUE_DE_RECEPCION.jpg" alt="Bancada para cubas"/>
            Construido totalmente en acero inox. AISI 304, con fondo en tres planos inclinados para facilitar la descarga total, patas con pernos de nivelación y descarga por el fondo con válvula NW DIN

            Reforzado con doble pestaña en la parte alta y correa exterior de perfil V en medio de la altura.

            Tamaño y modelos según necesidades y espacio disponible.

            Capacidad: 500 lts.</p>
    </section>
    <section class="productos">
        <h2 class="inline header--footer dashed">Tunel de lavado para moldes y cajas</h2><span><span id="mas26"  class="icon-plus-circle"></span>
        </span>
        <p  id="animacion26" class="productos--none"><img class="miniatura" src="miniaturas/BANCADA_PARA_CUBAS.jpg" alt="Bancada para cubas"/>Para moldes plásticos, incluso microperforados, dotado de guías ajustables y escamoteables para el lavado de cualquier formato de molde y cajas-contenedores plásticos.

            Construida totalmente en acero inox. AISI 304.


            El proceso estándar de lavado se produce, con un consumo muy bajo de agua, en tres fases:
            <br/>
            - Lavado: por recirculación de disolución de limpieza, dosificable, chorreo a una presión manométrica de 5/6 bares, mediante boquillas de aspersión convenientemente orientadas.
            <br/>
            - Escurrido: el detergente que gotea es devuelto a la zona de lavado.
            <br/>
            - Aclarado: por recirculación de agua a temperatura controlada, a una presión de 3 bares y, finalmente, pulverizado con agua fría a presión de red, que se reutilizará en esta misma fas
            <br/>
            Opciónes:
            <br/>
            - Prelavado, utilizando el agua caliente sobrante del aclarado de la fase 3.
            <br/>
            - Dosificador de producto de limpieza, con medidor de concentración.
            <br/>
            - Ventiladores para apurado del escurrido entre las distintas fases del proceso </p>
    </section>
    <footer class="footer">
        <h3 class="header--footer">Si desea más información, no dude en ponerse contacto con nosotros.</h3>
        <p class="parrafo--leftFooter">
            Dónde localizarnos:
            <br/>
            Cantabria, 1º Travesía, 11
            <br/>
            36205 VIGO</p>
        <p class="parrafo--leftFooter">
            Teléfonos:	986 26 14 49 / 986 27 09 28
            <br/>
            Fax:	986 26 70 76
            <br/>
            e-mail: <a href="mailto:info@cameselle.com">info@cameselle.com</a>
        </p>
        <p class="parrafo--rightFooter">
            Desarrollado por Lacon Labs &copy; 2015
        </p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/iconate/dist/iconate.min.js"></script>
    <script src="../static/main.js"></script>
</body>
</html>